<div class="modal-header">
    <h3 class="modal-title" id="modal-title">{{$ctrl.title}}</h3>
</div>
<div class="modal-body" id="modal-body">
    <form>
        <div class="form-group">
            <label for="code">Secutiry code</label>
            <input type="text" ng-model="$ctrl.code" class="form-control" id="code" placeholder="Enter security code">            
            <p class="help-block">Correct security code: {{$ctrl.correctCode}}</p>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()" ng-disabled="!$ctrl.code || $ctrl.code === ''">OK</button>
    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>