<div class="panel panel-primary">
    <div class="panel-heading">E-mail</div>
    <div class="panel-body">
        <form>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" ng-model="$ctrl.email" class="form-control" id="email" placeholder="Email">
            </div>

            <button class="btn btn-primary" ng-click="$ctrl.save()" ng-show="$ctrl.hasChanges()">Save</button>
            <button class="btn btn-default" ng-click="$ctrl.rollback()" ng-show="$ctrl.hasChanges()">Cancel</button>
        </form>
    </div>
</div>