<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="app.js"></script>

</head>

<body ng-app="demoApp" ng-controller="AppController as $ctrl">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">{{$ctrl.title}}</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav hidden-sm hidden-md hidden-lg">
                    <li ng-repeat="link in $ctrl.links" ng-class="{active: $ctrl.$route.current.activetab == link.id}"><a href="{{link.href}}">{{link.title}}</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-xs-4 hidden-xs">
                <ul class="nav nav-pills nav-stacked">
                    <li ng-repeat="link in $ctrl.links" ng-class="{active: $ctrl.$route.current.activetab == link.id}"><a href="{{link.href}}">{{link.title}}</a></li>
                </ul>
            </div>
            <div class="col-sm-8 col-xs-12" ng-view></div>
        </div>
    </div>
</body>

</html>