<div class="panel panel-primary">
    <div class="panel-heading">Personal</div>
    <div class="panel-body">
        <form>
            <div class="form-group">
                <label for="firstName">First name</label>
                <input type="text" ng-model="$ctrl.firstName" class="form-control" id="firstName" placeholder="First name">
            </div>
            <div class="form-group">
                <label for="lastName">Last name</label>
                <input type="text" ng-model="$ctrl.lastName" class="form-control" id="lastName" placeholder="Last name">
            </div>
            <button class="btn btn-primary" ng-click="$ctrl.save()" ng-show="$ctrl.hasChanges()">Save</button>
            <button class="btn btn-default" ng-click="$ctrl.rollback()" ng-show="$ctrl.hasChanges()">Cancel</button>
        </form>
    </div>
</div>