<div class="panel panel-primary">
    <div class="panel-heading">Phone</div>
    <div class="panel-body">
        <form>
            <div class="form-group">
                <label for="phone">Phone</label>
                <input type="phone" ng-model="$ctrl.phone" class="form-control" id="phone" placeholder="Phone">
            </div>

            <button class="btn btn-primary" ng-click="$ctrl.save()" ng-show="$ctrl.hasChanges()">Save</button>
            <button class="btn btn-default" ng-click="$ctrl.rollback()" ng-show="$ctrl.hasChanges()">Cancel</button>
        </form>
    </div>
</div>